<br><br>
    <button (click)="generateArmeCourante()"> generateArmeCourante: </button>
    <span>{{arme.nom}}</span>

<br><br>
    <button (click)="generateProprieteMagique()"> generateProprieteMagique: </button>
    <span>{{proprieteMagiqueGeneree.nom}} </span>

<br><br>
<button (click)="generateArmeCouranteMagique()"> generate Arme courante magique: </button>
<span>{{arme.nom}} {{proprieteMagiqueGeneree.nom}} </span>

<br><br>

    <!--<button (click)="generateArmeDeGuerre()"> generateArme De Guerre: </button>
    <span>{{armeGuerre.nom}}</span> -->
    <!--
<button (click)="generateArmeGuerreMagique()"> generate Arme de guerre magique: </button>
<span>{{armeGuerre.nom}} {{proprieteMagiqueGeneree.nom}} </span>-->