<p>
  Vous souhaitez donc créer un
  <span>{{personnageDTO.classe.nom}}.</span> 
</p>
<p>
  issu du peuple : 
  <span>{{personnageDTO.race.nom}}.</span>
</p>
<p>
  du nom de <span> {{personnageDTO.identite.prenom}} {{personnageDTO.identite.nom}},</span>
</p>

<div class="row">
  <div class="col-md-6">
    dont les caractéristiques sont: 
  </div>
  <div class="col-md-6">
    et dont les modificateurs raciaux sont:
    <div>{{personnageDTO.race.modifCarac}}</div>
</div>

<div class="container ">
  <div>
    <span>{{personnageDTO.caracteristiques[0].nom}}</span>
    <span>{{personnageDTO.caracteristiques[0].valeur}}</span>
  </div>
  <div>
    <span>{{personnageDTO.caracteristiques[1].nom}}</span>
    <span>{{personnageDTO.caracteristiques[1].valeur}}</span>
  </div>
  <div>
    <span>{{personnageDTO.caracteristiques[2].nom}}</span>
    <span>{{personnageDTO.caracteristiques[2].valeur}}</span>
  </div>
  <div>
    <span>{{personnageDTO.caracteristiques[3].nom}}</span>
    <span>{{personnageDTO.caracteristiques[3].valeur}}</span>
  </div>
  <div>
    <span>{{personnageDTO.caracteristiques[4].nom}}</span>
    <span>{{personnageDTO.caracteristiques[4].valeur}}</span>
  </div>
  <div>
    <span>{{personnageDTO.caracteristiques[5].nom}}</span>
    <span>{{personnageDTO.caracteristiques[5].valeur}}</span>
  </div>
</div>

<app-arme></app-arme>


<div class="row">
  <p>Penser à l'ajustement racial en premier lieu</p>
  <p>et peut être au calcul du poids transportable</p>
  <br>
  <p>ensuite vient le lien vers le tirage des pièces d'or en fonction de la classe.</p>
  <p>puis l'affichage des objets et équipements d'aventurier niv 1 en fonction de la classe toujours</p>
  <p>penser au "controleur" qui va soustraire la valeur des équipements achetés à la somme tirée </p>
  <p>et à celui qui additionne le poids de l'équipement </p>

  <p>En tant que {{personnageDTO.classe.nom}}.</p>
  <p>vous disposez de {{personnageDTO.classe.argentDepart}} pièces d'or</p>
</div>